* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

#content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer-bottom {
    margin-top: auto;
}

body {
    font-family: 'Poppins', sans-serif;
}

.section-heading h2, .section-heading p, .carousel-caption, .btn, .category-label, .home-event-title, .home-event-description {
    font-family: 'Poppins', sans-serif;
}

.semi-bold {
    font-weight: 600;
}



