.event-cards-btn {
    display: flex;
}

.event-cards-btn a.more-details-btn {
    flex-grow: 1;
    text-align: center;
}

.event-cards-btn form {
    margin-left: 10px;
    margin-right: 10px;
}

.event-cards-btn form.btn-love {
    flex-shrink: 0;
    margin-left: 5px;
    width: 60px;
}

.event-cards-btn a.btn,
.event-cards-btn form button {
    width: 100%;
    margin: 0;
    padding: .375rem .75rem;
}

.btn-love button {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.event-cards-btn form {
    display: flex;
    flex-shrink: 0;
}


.event-list-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

.event-list-card {
    transition: transform 0.3s ease;
    height: 100%;

}

.event-list-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.event-list-text {
    margin-bottom: 0.8em;
}

event-list-image {
    width: 100%;
    height: auto;
    object-fit: fill;
    margin-bottom: auto;
}

.event-closed-label {
    font-size: 1rem;
    border-radius: 0.25em;
    top: 10px;
    left: 10px;
    z-index: 10;
    position: absolute;
    background-color: #dc3545;
    color: #fff;
    padding: 0.375rem 0.75rem;
}

.event-closed {
    opacity: 0.75;
}







/* ADMIN */

.btn-disabled {
    background-color: #c0c0c0;
    color: #fff;
    opacity: 1;
    padding: 6px 12px;
    box-shadow: none;
    border-radius: 0.25rem;
    line-height: 1.5;
    border: 1px solid transparent;
    cursor: not-allowed;

}

.btn-disabled:hover {
    background-color: #a1a1a1;
}

.add-event-btn {
    float: right;
}

