/* ----------- Advertisement Banner ----------- */

.home-banner-carousel {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes slideOutToLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
    animation: slideInFromRight 1s forwards;
}

.carousel-item-left.active,
.carousel-item-right.active {
    animation: slideOutToLeft 1s forwards;
}

.carousel-item-next,
.carousel-item-prev {
    transform: translateX(0);
}


.carousel-item img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.55);
    padding: 1.8rem;
    border-radius: 5px;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    position: absolute;
    height: fit-content;
    width: 620px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

.carousel-caption h5 {
    display: block;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 0.4em;
}

.carousel-button {
    border: none;
    padding: 0.6rem 1.5rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 0.8em;
}

.carousel-button:hover {
    background-color: #0056b3;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #999;
    border: none;
    margin-right: 5px;
    margin-left: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);

}

.carousel-indicators .active {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}







 /* ----------- Title Description Section ----------- */

.section-heading {
    margin-top: 2em;
    margin-bottom: 2em;
}

.section-heading h2 {
    color: #2f2f2f;
    margin-bottom: 20px;
    font-weight: 700;
}

.section-heading p {
    color: #2f2f2f;
    font-size: 16px;
}

@media (min-width: 768px) {
    .section-heading h2 {
        font-size: 36px;
    }

    .section-heading p {
        font-size: 18px;
    }
}







 /* ----------- Categories section ----------- */

.home-categories-header h2 {
    color: #2f2f2f;
    font-size: 32px;
    font-weight: 700;
}

.category-box {
    position: relative;
    overflow: hidden;
    max-width: 350px;
    margin: auto;
}

.interactive-background-image {
    height: 250px;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
}

.category-box:hover .interactive-background-image {
    transform: scale(1.05);
}

.category-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(30, 136, 229, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
}

.category-box:hover .category-hover {
    opacity: 1;
}

.category-link, .category-link h4, .category-link .category-description {
    text-decoration: none;
    color: white;
}

.category-hover h4, .category-hover .category-description {
    margin: 0 auto;
    padding: 5px 10px;
    text-align: center;
}

.category-hover h4 {
    font-size: 18px;
    font-weight: bold;
    font-weight: 600;
}


.category-description-hover {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}


.category-label {
    font-size: 24px;
    color: #ffffff;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.8);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    transition: transform 0.3s ease;
}





 /* ----------- Popular Events section ----------- */

 .home-popular-events-section h2 {
    font-size: 32px;
    font-weight: 700;
    color: #2f2f2f;
}

.home-event-card {
    transition: transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.home-event-card:hover {
    transform: translateY(-5px);
}

.home-event-card img {
    height: 200px;
    object-fit: cover;
}

.home-event-title {
    font-size: 20px;
    font-weight: 600;
}

.home-event-description {
    font-size: 14px;
    font-weight: 400;
    color: #6c757d;
}

.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-info:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}

.more-event-btn {
    float: right;
}

@media (min-width: 768px) {
    .carousel-caption {
        width: 600px;
    }
}

@media (max-width: 768px) {
    .carousel-caption {
        display: block!important;
        width: 50%;
        padding: 1rem;
    }
}
