.card-avatar-container {
    margin-top: 12px;
    margin-bottom: 8px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

.organizers-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.contact-label {
    color: #6c757d;
    margin-bottom: 5px;
    margin-top: 20px;
}

.contact-name {
    margin-bottom: 5px;
}

.organizer-name {
    font-weight: 600;
}


.organizer-cards-btn {
    display: flex;
}

.organizer-cards-btn a.view-event-btn {
    flex-grow: 1;
    text-align: center;
}

.organizer-cards-btn form {
    display: flex;
    flex-shrink: 0;
}

.organizer-cards-btn form {
    margin-left: 10px;
}


.organizer-cards-btn a.btn,
.organizer-cards-btn form button {
    width: 100%;
    margin: 0;
    padding: .375rem .75rem;
}
